<div class="tech-experts">
    <div class="container tech-experts__container">
        <h2 class="h2 tech-experts__title">Эксперты по выбору техники</h2>
        <ul class="tech-experts__reviews">
            <li class="tech-experts__review tech-experts__blue">
                <div class="tech-experts__blue-icon">
                    <img src="images/reviews.png" alt="">
                </div>
                <div class="tech-experts__blue-title">Обзоры техники</div>
                <div class="tech-experts__blue-descripton">Выбираете пылесос, стиральную машину, или кофемашину? Мы составили рейтинг и разобрались в лучшей технике для дома</div>
                <div class="tech-experts__summary">
                    <div class="tech-experts__summary-counter">125</div>
                    <div class="tech-experts__summary-text">
                        <div class="tech-experts__summary-reviews">обзоров</div>
                        <div class="tech-experts__summary-experts">от экспертов</div>
                    </div>
                </div>
            </li>
           <li class="tech-experts__review">
                <div class="tech-experts__review-counter">
                    <div class="tech-experts__counter-icon">
                        <img src="images/star.png" alt="">
                    </div>
                    <span class="tech-experts__counter-title">10 товаров в обзоре</span>
                </div>
               <div class="tech-experts__review-image">
                   <img src="images/review1.png" alt="">
               </div>
               <div class="tech-experts__review-title">Обзор измельчителей пищевых отходов - диспоузеров</div>
               {{> widget-actions_blue }}
           </li>
            <li class="tech-experts__review">
                <div class="tech-experts__review-counter">
                    <div class="tech-experts__counter-icon">
                        <img src="images/star.png" alt="">
                    </div>
                    <span class="tech-experts__counter-title">25 товаров в обзоре</span>
                </div>
                <div class="tech-experts__review-image">
                    <img src="images/review2.png" alt="">
                </div>
                <div class="tech-experts__review-title">Описание и выбор циклонного фильтра для пылесоса</div>
                {{> widget-actions_blue }}
            </li>
            <li class="tech-experts__review">
                <div class="tech-experts__review-counter">
                    <div class="tech-experts__counter-icon">
                        <img src="images/star.png" alt="">
                    </div>
                    <span class="tech-experts__counter-title">13 товаров в обзоре</span>
                </div>
                <div class="tech-experts__review-image">
                    <img src="images/review3.png" alt="">
                </div>
                <div class="tech-experts__review-title">Как заменить подшипники в стиральной машине</div>
                {{> widget-actions_blue }}
            </li>
        </ul>
    </div>
</div>