.tech-experts {
  padding-bottom: 40px;

  &__container {
    padding-left: 22px;
    padding-right: 0;

    @media(max-width: 1400px) {
      padding-right: 22px;
    }
  }

  &__title {
    margin-bottom: 71px;

    @media(max-width: 992px) {
      margin-bottom: 50px;
    }

    &:after {
      content: '';
      background: #00d2d2;
    }
  }

  &__reviews {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1300px) {
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 700px;
      margin: 0 auto;
    }
  }

  &__review {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 242, 248);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2.828px 2.828px 0px 2px rgba(204, 220, 237, 0.15);
    max-width: 288px;
    height: 418px;
    padding: 19px 25px 19px;
    margin-bottom: 30px;

    @media(max-width: 1400px) {
      margin: 0 5px 30px;
    }

    &-counter {
      display: flex;
      padding: 0 2px;
    }

    &-title {
      font-size: 22px;
      line-height: 1.4;
      margin-bottom: 22px;
    }

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 193px;
    }
  }

  &__blue {
    border-radius: 15px;
    background-color: rgb(239, 247, 247);
    max-width: 290px;
    height: 420px;
    padding: 30px 40px 19px;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 375px) {
      padding: 19px 25px 19px
    }

    &-icon {
      display: flex;
      justify-content: center;
      margin-bottom: 26px;
    }

    &-title {
      font-size: 28px;
      font-weight: 400;
      letter-spacing: -1.5px;
      position: relative;
      margin-bottom: 54px;
      padding: 0 5px;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -31px;
        height: 5px;
        width: 60px;
        background: #00d2d2;
      }
    }

    &-descripton {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.8;
      letter-spacing: -0.5px;
      margin-bottom: 27px;
    }
  }

  &__summary {
    display: flex;

    &-counter {
      font-family: 'Oswald Light', sans-serif;
      color:#289bc3;
      font-size: 50px;
    }

    &-text {
      display: flex;
      flex-direction: column;
    }

    &-reviews {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      width: 63px;
      height: 21px;
      background-color: #00d2d2;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      margin-top: 5px;
      margin-left: 15px;
      margin-bottom: 5px;
    }

    &-experts {
      font-size: 15px;
      font-weight: 400;
      margin-left: 15px;
      letter-spacing: -0.5px;
    }
  }

  &__counter {

    &-title {
      font-size: 14px;
      padding: 5px 10px;
    }

    &-icon {
      background-color: #ffd806;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}