@font-face {
	font-family: 'Oswald Light';
	src: url('../fonts/Oswaldlight.eot');
	src: local('Oswald Light'), local('Oswald-Light'),
		url('../fonts/Oswaldlight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Oswaldlight.woff') format('woff'),
		url('../fonts/Oswaldlight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}