<div class="article-review"  style="background: url('images/big.jpg') center no-repeat">
    <div class="article-review__widget">
        <a href="#" class="article-review__widget-category">Своими руками</a>
        <div class="article-review__widget-title">Методы и средства для чистки ковра своими руками</div>
        {{> widget-actions_green }}
    </div>
</div>