.article-review {
  width: 100%;
  height: 480px;
  padding: 43px 0 0 30px;

  @media(max-width: 375px) {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__widget {
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    max-width: 270px;
    padding: 27px 20px 32px 30px;

    &-category {
      display: block;
      font-size: 16px;
      text-decoration: none;
      margin-bottom: 21px;

      &:hover {
        text-decoration: underline;
      }
    }

    &-title {
      font-size: 24px;
      line-height: 1.25;
      margin-bottom: 24px;
    }
  }
}