<div class="popular-advices">
    <div class="container popular-advices__container">
        <h2 class="h2 popular-advices__title">Популярные советы домохозяйкам</h2>
        <div class="popular-advices__content">
            <div class="popular-advices__content-left">
                {{> article-review }}
            </div>
            <div class="popular-advices__content-right">
                <div class="popular-advices__items">
                    <a href="#" class="popular-advices__item">
                        <img src="images/list-icon.png" alt="" class="popular-advices__item-icon">
                        <div class="popular-advices__item-title">Рецепты лизуна (слайм) из подручных средств</div>
                    </a>
                    <a href="#" class="popular-advices__item">
                        <img src="images/list-icon.png" class="popular-advices__item-icon">
                        <div class="popular-advices__item-title">Как быстро высушить одежду в домашних условиях</div>
                    </a>
                    <a href="#" class="popular-advices__item">
                        <img src="images/list-icon.png" class="popular-advices__item-icon">
                        <div class="popular-advices__item-title">Как бороться с голубями на балконе</div>
                    </a>
                    <a href="#" class="popular-advices__item">
                        <img src="images/list-icon.png" class="popular-advices__item-icon">
                        <div class="popular-advices__item-title">Что такое пэчворк и как его сделать своими руками</div>
                    </a>
                </div>
                <a href="#" class="popular-advices__video" style="background: url('images/video.png') bottom no-repeat;">
                    Какой очиcтитель воздуха выбрать в 2020 году
                </a>
            </div>
        </div>
    </div>
</div>