<div class="about-portal">
    <div class="container about-portal__container">
        <h1 class="h1 about-portal__title">Портал о домашних заботах</h1>
        <p class="about-portal__description">На нашем сайте каждая хозяйка может узнать много секретов, упрощающих поддерживание порядка в доме. Простые советы уберегут вас от неприятностей, с которыми вы можете столкнуться в процессе стирки, уборки, хранения продуктов и так далее.</p>
    </div>
    <div class="container about-portal__tales-nav">
        {{> tales-nav }}
    </div>
</div>