.the-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(240, 243, 249);
  color: #000;
  font-size: 16px;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: $delay;
  padding: 11px 23px 13px;
  white-space: nowrap;

  &:hover {
    background: darken(rgb(240, 243, 249),10%);
  }
}
