<div class="content-block proper-storage">
    <div class="container proper-storage__container">
        <h2 class="h2 proper-storage__title">Все о правильном хранении</h2>
        <ul class="proper-storage__articles">
            <li class="proper-storage__article">
                <div class="proper-storage__article-image">
                    <img src="images/article1.jpg" alt="">
                </div>
                <div class="proper-storage__article-content">
                    <div class="proper-storage__article-title">Обзор измельчителей пищевых отходов — диспоузеров</div>
                    <div class="proper-storage__article-description">Подшипник для стиральной машины – ключевое звено, которое обеспечивает вращение барабана</div>
                    {{> widget-actions_magenta }}
                </div>
            </li>
            <li class="proper-storage__article">
                <div class="proper-storage__article-image">
                    <img src="images/article2.jpg" alt="">
                </div>
                <div class="proper-storage__article-content">
                    <div class="proper-storage__article-title">Описание и использование вакуумных пакетов</div>
                    <div class="proper-storage__article-description">Чем больше семья, тем больше одежды, которую приходится хранить между сезонами</div>
                    {{> widget-actions_magenta }}
                </div>
            </li>
            <li class="proper-storage__article">
                <div class="proper-storage__article-image">
                    <img src="images/article3.jpg" alt="">
                </div>
                <div class="proper-storage__article-content">
                    <div class="proper-storage__article-title">Описание пластиковой коробки для хранения</div>
                    <div class="proper-storage__article-description">Наличие системы хранения в любом интерьере создает ощущение уюта, комфортного проживания, порядка</div>
                    {{> widget-actions_magenta }}
                </div>
            </li>
        </ul>
    </div>
</div>