<div class="content-block main-content">
    <div class="container main-content__container">
        <div class="h1 main-content__title">Сео-текст для главной страницы</div>
        <div class="main-content__description">
            <p>В последнее время ассортимент цветочных магазинов пополнился разнообразными экзотическими цветами. Одним из экзотов является муррайя (Murraya), или как ее называют в народе – «мурка».</p>
            <p>Несмотря на то, что среди садоводов она считается капризными растением, ее просто приобрести домой. Ведь если создать «мурке» необходимые условия, можно вырастить растение, которое будет радовать цветением в течение круглого года.</p>
        </div>
        {{> tales-nav }}
    </div>
</div>