<form class="search-form">
    <input type="search" placeholder="Поиск на портале" class="search-form__input">
    <button class="search-form__button">
        <img src="./images/search.png" width="11" alt="">
    </button>
</form>