<div class="tales-nav">
    <a href="#" class="tales-nav__link" style="background: url('./images/cat1.png') right top no-repeat">
        <div class="tales-nav__link-title">Своими руками</div>
        <div class="tales-nav__link-description">Мастер-классы<br>рукодельницам</div>
    </a>
    <a href="#" class="tales-nav__link" style="background: url('./images/cat2.png') right top no-repeat">
        <div class="tales-nav__link-title">Праздник</div>
        <div class="tales-nav__link-description">Идеи подарков<br>и советы</div>
    </a>
    <a href="#" class="tales-nav__link" style="background: url('./images/cat3.png') right top no-repeat">
        <div class="tales-nav__link-title">Лайфхаки</div>
        <div class="tales-nav__link-description">Полезные<br>мелочи</div>
    </a>
    <a href="#" class="tales-nav__link" style="background: url('./images/cat4.png') right top no-repeat">
        <div class="tales-nav__link-title">Техника</div>
        <div class="tales-nav__link-description">Наши обзоры<br>и рейтинги</div>
    </a>
    <a href="#" class="tales-nav__link" style="background: url('./images/cat5.png') right top no-repeat">
        <div class="tales-nav__link-title">Хранение</div>
        <div class="tales-nav__link-description">Продуктов,<br>вещей и прочего</div>
    </a>
    <a href="#" class="tales-nav__link" style="background: url('./images/cat6.png') right top no-repeat">
        <div class="tales-nav__link-title">Уборка</div>
        <div class="tales-nav__link-description">Чистка, средства<br>и секреты</div>
    </a>
</div>