.tales-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;

  @media(max-width: 1300px) {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
  }

  &__link {
    display: block;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 23px 0 0 23px;
    width: 200px;
    height: 110px;
    border: 2px solid transparent;
    text-decoration: none;
    color: #000;
    overflow: hidden;

    @media(max-width: 1300px) {
      margin: 10px;
    }

    &:hover {
      border: 2px solid #ffd90c;
      border-radius: 15px;
    }

    &-title {
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    &-description {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 300;
    }
  }
}