<div class="content-block site-updates">
    <div class="container site-updates__container">
        <div class="h2 site-updates__title">Обновления на сайте</div>
        <div class="site-updates__articles">
            <div class="site-updates__articles-group group1">
                <a href="#" class="site-updates__article">
                    <div class="site-updates__article-image">
                        <img src="images/update1.jpg" alt="">
                    </div>
                    <div class="site-updates__article-title">Выращивание мурайи в домашних условиях</div>
                </a>
                <a href="#" class="site-updates__article">
                    <div class="site-updates__article-image">
                        <img src="images/update3.jpg" alt="">
                    </div>
                    <div class="site-updates__article-title">Отбеливание белых вещей в домашних условиях</div>
                </a>
            </div>
            <div class="site-updates__articles-group group2">
               {{> article-review }}
            </div>
            <div class="site-updates__articles-group group3">
                <a href="#" class="site-updates__article">
                    <div class="site-updates__article-image">
                        <img src="images/update2.jpg" alt="">
                    </div>
                    <div class="site-updates__article-title">Выращивание мурайи в домашних условиях</div>
                </a>
                <a href="#" class="site-updates__article">
                    <div class="site-updates__article-image">
                        <img src="images/update4.jpg" alt="">
                    </div>
                    <div class="site-updates__article-title">Отбеливание белых вещей в домашних условиях</div>
                </a>
            </div>
        </div>
    </div>
</div>