<div class="social-media">
    <a href="#" class="social-media__link"><i class="fab fa-vk"></i></a>
    <a href="#" class="social-media__link"><i class="fab fa-odnoklassniki"></i></a>
    <a href="#" class="social-media__link"><i class="fab fa-instagram"></i></a>
    <a href="#" class="social-media__link"><i class="fab fa-youtube"></i></a>
    <a href="#" class="social-media__link"><i class="fab fa-yandex"></i></a>
</div>