<footer class="main-footer">
    <div class="container main-footer__container">
        <div class="main-footer__top">
            {{> logo }}
            <div class="main-footer__copy-socmedia">
                <div class="main-footer__copy">
                    © 2020 – Cоветы и рекомендации на все<br>случаи жизни по уходу и содержанию дома
                </div>
                <div class="main-footer__socmedia">
                    {{> social-media }}
                </div>
            </div>
            <ul class="main-footer__nav">
                <li><a href="#">Политика конфиденциальности</a></li>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">О редакции и сотрудничестве</a></li>
            </ul>
            <div class="main-footer__terms">
                Перепечатка материалов разрешена только с указанием первоисточника
            </div>
        </div>
        <div class="main-footer__bottom">
            <div class="main-footer__error">
                <img src="images/agency.png" alt="" class="main-footer__error-icon">
                <div class="main-footer__error-text">
                    Нашли ошибку, неточность или опечатку в тексте?<br>
                    Выделите её и нажмите <span class="blue">Ctrl + Enter</span>
                </div>
            </div>
            <div class="main-footer__counter">
                <img src="images/counter.png" alt="">
            </div>
            <form class="main-footer__search-form">
                <input type="search" placeholder="Поиск информации на сайте" class="search-form__input">
                <button class="search-form__button">
                    <img src="images/search_bottom.png" width="25" alt="">
                </button>
            </form>
        </div>
    </div>
</footer>