.main-footer {
  background-color: #f7f9fc;
  padding: 24px 0 24px;

  .logo {

    @media(max-width: 1300px) {
      display: none;
    }
  }

  &__container {
    padding-left: 15px;
    padding-right: 0;

    @media(max-width: 1400px) {
      padding-right: 15px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e7f2;
    padding-bottom: 33px;

    @media(max-width: 1300px) {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @media(max-width: 900px) {
      justify-content: space-around;
    }
  }

  &__copy-socmedia {
    flex-direction: column;
    max-width: 350px;
    margin-top: 3px;
    margin-left: 52px;

    @media(max-width: 1300px) {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }

  &__copy {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }

  &__socmedia {
    margin-left: -10px;
  }

  &__nav {
    margin-left: 122px;
    margin-top: 6px;

    @media(max-width: 1300px) {
      margin-bottom: 20px;
    }

    &>li {
      &>a {
        font-size: 13px;
        font-weight: 300;
        text-decoration: none;
        color: #7d93bf;
        line-height: 2.3;

        @media(max-width: 768px) {
          font-size: 16px;
          height: 1.2;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media(max-width: 1300px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &__terms {
    font-size: 16px;
    font-weight: 400;
    max-width: 320px;
    margin-left: 147px;
    line-height: 1.25;
    margin-top: 3px;
    letter-spacing: -1px;

    @media(max-width: 1300px) {
      margin-left: 10px;
      margin-right: 10px;
    }

    @media(max-width: 900px) {
      text-align: center;
      max-width: 1200px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: 62px;

    @media(max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
      height: auto;
    }
  }

  &__error {
    display: flex;
    margin-left: 7px;
    margin-top: 3px;

    @media(max-width: 920px) {
      display: none;
    }

    &-icon {
      align-self: center;
      margin-right: 25px;
    }

    &-text {
      color: #a3aeb6;
      font-size: 14px;
      line-height: 1.25;
      font-weight: 300;
      margin-top: 16px;
    }
  }

  &__counter {
    margin-top: 20px;
    margin-left: 20px;

    @media(max-width: 1300px) {
      margin-right: 20px;
    }

    @media(max-width: 920px) {
      display: none;
    }
  }

  &__search-form {
    max-width: 382px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    margin-top: 24px;
    padding: 0 22px;
    font-size: 16px;

    .search-form__input {
      height: 52px;
    }

    .search-form__button {
      background-color: transparent;

      img {
        margin-top: 0;
        margin-right: 10px;
      }
    }
  }
}

.blue {
  color: #7d93bf;
}