<nav id="nav">
    <ul>
        <li><a href="#">Лайфхаки</a></li>
        <li class="has-drop">
            <a href="#">Праздник</a>
            <div class="drop">
                <ul class="drop-list">
                    <li><a href="#">Пример выпадающего</a></li>
                    <li><a href="#">Списка для</a></li>
                    <li><a href="#">Категорий и меню</a></li>
                    <li><a href="#">Четыре штуки</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Своими руками</a></li>
        <li><a href="#">Советы</a></li>
        <li><a href="#">Техника</a></li>
        <li><a href="#">Уборка</a></li>
        <li><a href="#">Хранение</a></li>
        <li><a href="#">Мебель</a></li>
    </ul>
</nav>