.main-header {
  display: flex;
  padding-top: 30px;
  position: relative;
  z-index: 150;

  @media(max-width: 576px) {
    padding-top: 10px;
  }

  &__container {
    display: flex;

    @media(max-width: 1200px) {
      justify-content: space-between;
      align-items: center;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @media(max-width: 1200px) {
      width: 80%;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 72px;

    @media(max-width: 1200px){
      padding: 0;
    }

    @media(max-width: 992px) {
      justify-content: center;
    }
  }

  &__nav {
    padding-left: 73px;
  }

  &__social-media {
    @media(max-width: 992px) {
      display: none;
    }
  }

  &__search-form {
    margin-bottom: 19px;
    width: 450px;

    @media(max-width: 1200px) {
      margin: 0 20px;
      max-width: 450px;
      width: 100%;
    }
  }

  &__menu-toggle {
    margin-top: -7px;
    z-index: 204;

    @media(max-width: 992px) {
      margin-top: 0;
    }
  }
}

.menu-open {
  overflow: hidden;
}

  .main-menu {

    @media (max-width: 1200px) {
      position: fixed;
      top: -9999px;
      left: -9999px;
      right: 9999px;
      bottom: 9999px;
      background-color: #f1f6e8;
      opacity: 0;
      margin: 0;
      padding: 60px 20px;
      z-index: 200;
      border: none;
      min-width: 320px;
      text-align: center;
      border-radius: 0;
      transition: all 0s ease .35s, opacity .35s ease;

      #nav {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 5%;
        right: 0;
        bottom: 5%;
        transform: translateX(-50%);
        width: 100%;

        & > ul {
          margin-left: 0;
          margin-right: 0;
          flex-direction: column;

          & > li {
            padding: 5px 10px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-size: 18px;

            &:hover,
            &:active {
              color: #fff;
            }

            &>a {
              padding-bottom: 15px;

              &:hover {
                border-bottom: 5px solid transparent;
              }
            }
          }
        }
      }

      &.open {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        transition: opacity .35s ease;
        overflow-y: scroll;
      }
    }

  @media(max-width: 640px) {
    #nav {
      & > ul {
        & > li {
          font-size: 16px;
          line-height: 1;
        }
      }
    }
  }
}



